<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Show</title>
</head>
<body>
<p th:text="${person.getFullName()}">VALUE</p>

<div th:text="'The person is did not take any book yet'" th:if="${bookList.isEmpty()}">VALUE</div>

<div th:each="book : ${bookList}" th:unless="${bookList.isEmpty()}">
    <a th:text="${book.getName()}">user</a>
</div>

<br/>
<hr/>
<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getId()})}">
    <input type="submit" value="Delete"/>
</form>
<a th:href="@{/people}">Go to all people</a>

</body>
</html>